body {
  background: #b65e29;
}

.bear {
  width: 400px;
  height: 400px;
  background: #b65e29;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
}
.bear:hover .mouth {
  width: 120px;
  margin-left: -60px;
  transition: all 500ms;
}

.face {
  width: 240px;
  height: 240px;
  background: #e1a368;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  bottom: 20px;
}
.face:hover .mouth {
  height: 100px;
}

.nose {
  width: 30px;
  height: 30px;
  background: #333;
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -15px;
  border-radius: 50%;
}
.nose:hover {
  animation: shake 100ms alternate 4;
}
.nose:hover ~ .mouth {
  width: 40px;
  margin-left: -20px;
}
.nose:hover ~ .eye:before {
  margin: -5px 0 0 -5px;
}
.nose:hover ~ .eye:nth-of-type(2):before {
  margin: -5px 0 0 -10px;
}

.eye {
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute;
  top: -20px;
  border-radius: 50%;
  transition: all 500ms;
}
.eye:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background: #fff;
  left: 50%;
  top: 50%;
  margin-left: -7.5px;
  margin-top: -7.5px;
  border-radius: 50%;
  transition: all 500ms;
}
.eye:nth-of-type(2) {
  right: 0;
}

.mouth {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -20px;
  background: #683210;
  border-radius: 50%;
}

.eye-mask {
  height: 40px;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  z-index: 9;
}
.eye-mask:hover ~ .eye {
  height: 10px;
  width: 50px;
  border-radius: 5px;
  transform: rotate(25deg);
}
.eye-mask:hover ~ .eye:before {
  display: none;
}
.eye-mask:hover ~ .eye:nth-of-type(2) {
  transform: rotate(-25deg);
}

@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5px, 0);
  }
}
